/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, C:/Users/Patrick/port_site/source/css/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, C:/Users/Patrick/port_site/source/css/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* line 33, C:/Users/Patrick/port_site/source/css/main.css.scss */
html {
  background: url(../img/proto-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* line 41, C:/Users/Patrick/port_site/source/css/main.css.scss */
body {
  color: #FFFFFF;
  font: lighter 1em Segoe UI, sans-serif;
  min-width: 800px; }

/* line 47, C:/Users/Patrick/port_site/source/css/main.css.scss */
nav {
  background: #182329;
  background: rgba(24, 35, 41, 0.95);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 77px;
  width: 100%;
  border-bottom: 2px solid #3a82a6;
  min-width: 40em;
  z-index: 1000; }
  /* line 56, C:/Users/Patrick/port_site/source/css/main.css.scss */
  nav ul {
    margin: 0 5em;
    padding: 0px; }
    /* line 61, C:/Users/Patrick/port_site/source/css/main.css.scss */
    nav ul li {
      height: 75px;
      width: 15%;
      float: left;
      border-right: 1px solid #242e33;
      line-height: 75px;
      min-width: 8em;
      text-align: center; }
      /* line 70, C:/Users/Patrick/port_site/source/css/main.css.scss */
      nav ul li .nav-a {
        height: 75px;
        width: 100%;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        transition-duration: 1s;
        color: #FFFFFF;
        display: inline-block;
        outline: none;
        text-decoration: none;
        text-align: center;
        font-size: 1.2em; }
        /* line 82, C:/Users/Patrick/port_site/source/css/main.css.scss */
        nav ul li .nav-a #nav-img {
          height: 75px;
          width: 65px;
          padding: 5px 0; }
      /* line 88, C:/Users/Patrick/port_site/source/css/main.css.scss */
      nav ul li .nav-a:hover {
        -webkit-transition-property: background;
        -moz-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 0.25s;
        -moz-transition-duration: 0.25s;
        transition-duration: 0.25s;
        background: #285a73;
        font-size: 1.25em; }
      /* line 95, C:/Users/Patrick/port_site/source/css/main.css.scss */
      nav ul li .nav-a:active {
        background: #e67339;
        font-size: 1.15em; }
      /* line 100, C:/Users/Patrick/port_site/source/css/main.css.scss */
      nav ul li #nav-img-a:hover {
        background: #2d3940; }
      /* line 103, C:/Users/Patrick/port_site/source/css/main.css.scss */
      nav ul li #nav-img-a:active {
        background: #3e5059; }
        /* line 105, C:/Users/Patrick/port_site/source/css/main.css.scss */
        nav ul li #nav-img-a:active img {
          padding: 6px 1px; }
    /* line 110, C:/Users/Patrick/port_site/source/css/main.css.scss */
    nav ul li:first-child {
      background: #12171a;
      border-left: 1px solid #242e33;
      min-width: 6em;
      width: 10%; }

/* line 119, C:/Users/Patrick/port_site/source/css/main.css.scss */
.content-wrapper {
  padding: 100px 5em 2em;
  height: 100%;
  width: 100%;
  min-width: 800px; }
  /* line 125, C:/Users/Patrick/port_site/source/css/main.css.scss */
  .content-wrapper h1 {
    margin: 0 0 0.25em;
    font: lighter 5em Segoe UI, sans-serif; }
  /* line 131, C:/Users/Patrick/port_site/source/css/main.css.scss */
  .content-wrapper h3 {
    margin: 0.4em 0;
    font: lighter 1.5em Segoe UI, sans-serif; }
  /* line 137, C:/Users/Patrick/port_site/source/css/main.css.scss */
  .content-wrapper .color-span {
    color: #e67339; }
  /* line 141, C:/Users/Patrick/port_site/source/css/main.css.scss */
  .content-wrapper .content-inner {
    padding: 0 5em; }
  /* line 145, C:/Users/Patrick/port_site/source/css/main.css.scss */
  .content-wrapper .orange-h3 {
    color: #e67339;
    font: lighter 2em Segoe UI, sans-serif;
    margin: 0px; }
  /* line 151, C:/Users/Patrick/port_site/source/css/main.css.scss */
  .content-wrapper .orange-wrapper {
    background: #e67339;
    background: rgba(230, 115, 57, 0.05);
    border-top-color: #e67339;
    border-right-color: #e67339;
    border-top-style: solid;
    border-right-style: solid;
    border-top-width: 2px;
    border-right-width: 2px;
    margin-top: 0.5em;
    margin-bottom: 0;
    padding: 1.5em; }
  /* line 161, C:/Users/Patrick/port_site/source/css/main.css.scss */
  .content-wrapper .appear, .content-wrapper .scroll-appear {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0; }
  /* line 170, C:/Users/Patrick/port_site/source/css/main.css.scss */
  .content-wrapper .delay-one {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  /* line 174, C:/Users/Patrick/port_site/source/css/main.css.scss */
  .content-wrapper .delay-two {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    transition-delay: 1s; }
  /* line 178, C:/Users/Patrick/port_site/source/css/main.css.scss */
  .content-wrapper .delay-three {
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    transition-delay: 1.5s; }
  /* line 182, C:/Users/Patrick/port_site/source/css/main.css.scss */
  .content-wrapper .delay-four {
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    transition-delay: 2s; }
  /* line 186, C:/Users/Patrick/port_site/source/css/main.css.scss */
  .content-wrapper .delay-five {
    -webkit-transition-delay: 2.5s;
    -moz-transition-delay: 2.5s;
    transition-delay: 2.5s; }
  /* line 190, C:/Users/Patrick/port_site/source/css/main.css.scss */
  .content-wrapper .delay-six {
    -webkit-transition-delay: 3s;
    -moz-transition-delay: 3s;
    transition-delay: 3s; }

/* line 195, C:/Users/Patrick/port_site/source/css/main.css.scss */
#home-wrapper {
  background: #12171a;
  background: rgba(18, 23, 26, 0.2); }
  /* line 198, C:/Users/Patrick/port_site/source/css/main.css.scss */
  #home-wrapper .h1-resize {
    line-height: 100%;
    margin: 0px; }
  /* line 203, C:/Users/Patrick/port_site/source/css/main.css.scss */
  #home-wrapper #btm-div {
    margin-top: 5em; }
    /* line 206, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #home-wrapper #btm-div h3 {
      margin: 0 1em 0 0;
      display: inline-block; }
    /* line 211, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #home-wrapper #btm-div #home-img {
      height: 40px;
      width: 40px;
      display: inline-block; }

/* line 219, C:/Users/Patrick/port_site/source/css/main.css.scss */
#about-wrapper {
  position: relative; }
  /* line 222, C:/Users/Patrick/port_site/source/css/main.css.scss */
  #about-wrapper p {
    margin-top: 0;
    margin-bottom: 0.5em;
    font: lighter 1.25em Segoe UI, sans-serif; }
  /* line 227, C:/Users/Patrick/port_site/source/css/main.css.scss */
  #about-wrapper #about-p {
    width: 85%; }
  /* line 231, C:/Users/Patrick/port_site/source/css/main.css.scss */
  #about-wrapper h2 {
    margin-top: 0.5px;
    margin-bottom: 0;
    font: lighter 3.25em Segoe UI, sans-serif; }
  /* line 237, C:/Users/Patrick/port_site/source/css/main.css.scss */
  #about-wrapper .qual-wrapper {
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 0;
    display: inline-block;
    min-width: 300px;
    vertical-align: top;
    width: 27.5%; }
    /* line 245, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #about-wrapper .qual-wrapper p {
      min-height: 8em;
      line-height: 1.6em;
      margin: 0px; }
  /* line 252, C:/Users/Patrick/port_site/source/css/main.css.scss */
  #about-wrapper .img-wrapper {
    height: 10em;
    width: 40px;
    display: inline-block;
    position: relative;
    vertical-align: bottom; }
    /* line 259, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #about-wrapper .img-wrapper #about-img {
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 40px;
      width: 40px;
      vertical-align: bottom; }

/* line 268, C:/Users/Patrick/port_site/source/css/main.css.scss */
#work-wrapper {
  background: #12171a;
  background: rgba(18, 23, 26, 0.2); }
  /* line 271, C:/Users/Patrick/port_site/source/css/main.css.scss */
  #work-wrapper .exp-wrapper {
    width: 100%;
    margin-bottom: 2em; }
    /* line 275, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #work-wrapper .exp-wrapper .exp-p {
      margin: 0 1.5em 0 0;
      padding: 0 0 1em;
      display: inline-block;
      font: lighter 1.25em Segoe UI, sans-serif;
      min-width: 475px;
      vertical-align: top;
      width: 47.5%; }
      /* line 285, C:/Users/Patrick/port_site/source/css/main.css.scss */
      #work-wrapper .exp-wrapper .exp-p span {
        color: #3a82a6; }
    /* line 290, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #work-wrapper .exp-wrapper .exp-a {
      width: 47.5%;
      display: inline-block;
      min-width: 475px;
      outline: none; }
    /* line 299, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #work-wrapper .exp-wrapper .exp-a:active img {
      padding: 1px; }
    /* line 305, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #work-wrapper .exp-wrapper .exp-a:hover img {
      opacity: 1; }
    /* line 310, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #work-wrapper .exp-wrapper img {
      height: auto;
      width: 100%;
      opacity: 0.85; }
  /* line 317, C:/Users/Patrick/port_site/source/css/main.css.scss */
  #work-wrapper #last-exp-wrapper {
    margin-bottom: 0px; }

/* line 323, C:/Users/Patrick/port_site/source/css/main.css.scss */
#overlay {
  height: 100%;
  width: 100%;
  background: #0a0c0d;
  background: rgba(10, 12, 13, 0.85);
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  z-index: 2000;
  opacity: 0;
  min-width: 700px;
  min-height: 625px;
  visibility: hidden; }
  /* line 336, C:/Users/Patrick/port_site/source/css/main.css.scss */
  #overlay #inner-overlay {
    margin: 3em auto;
    height: 80%;
    width: 80%;
    background: #2d3940;
    background: rgba(45, 57, 64, 0.85);
    position: relative;
    vertical-align: middle;
    z-index: 3000; }
    /* line 345, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #overlay #inner-overlay #overlay-top-div {
      background: #182329;
      background: rgba(24, 35, 41, 0.95);
      padding: 0 0 0 2em;
      height: 61px;
      width: 100%;
      border-bottom: 1px solid #3a82a6; }
    /* line 353, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #overlay #inner-overlay #overlay-h3 {
      font: lighter 2em Segoe UI, sans-serif;
      line-height: 60px;
      margin: 0px; }
    /* line 359, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #overlay #inner-overlay #close-a {
      height: 60px;
      width: auto;
      float: right;
      outline: none; }
      /* line 364, C:/Users/Patrick/port_site/source/css/main.css.scss */
      #overlay #inner-overlay #close-a #close-img {
        height: 60px;
        width: auto; }
    /* line 370, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #overlay #inner-overlay #close-a:active #close-img {
      padding: 1px; }
    /* line 375, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #overlay #inner-overlay #overlay-btm-div {
      padding: 2em 1em 1em;
      height: 100%;
      width: 100%; }
      /* line 380, C:/Users/Patrick/port_site/source/css/main.css.scss */
      #overlay #inner-overlay #overlay-btm-div a {
        width: 8%;
        max-width: 150px;
        min-width: 80px;
        outline: none; }
        /* line 386, C:/Users/Patrick/port_site/source/css/main.css.scss */
        #overlay #inner-overlay #overlay-btm-div a img {
          height: auto;
          width: 100%; }
      /* line 391, C:/Users/Patrick/port_site/source/css/main.css.scss */
      #overlay #inner-overlay #overlay-btm-div a:active {
        padding: 1px; }
      /* line 395, C:/Users/Patrick/port_site/source/css/main.css.scss */
      #overlay #inner-overlay #overlay-btm-div #left-arrow-a {
        position: absolute;
        bottom: 32.5%;
        left: -2.5em; }
      /* line 399, C:/Users/Patrick/port_site/source/css/main.css.scss */
      #overlay #inner-overlay #overlay-btm-div #overlay-main-img {
        margin: 0 auto;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.25s;
        -moz-transition-duration: 0.25s;
        transition-duration: 0.25s;
        display: block;
        max-width: 85%;
        max-height: 85%;
        opacity: 1;
        vertical-align: middle; }
      /* line 411, C:/Users/Patrick/port_site/source/css/main.css.scss */
      #overlay #inner-overlay #overlay-btm-div #right-arrow-a {
        position: absolute;
        right: -2.5em;
        bottom: 32.5%; }
    /* line 416, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #overlay #inner-overlay .overlay-inline {
      display: inline-block; }

/* line 422, C:/Users/Patrick/port_site/source/css/main.css.scss */
#contact-wrapper {
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: relative; }
  /* line 427, C:/Users/Patrick/port_site/source/css/main.css.scss */
  #contact-wrapper .content-inner p {
    margin: 0 0 2em;
    font: lighter 1.25em Segoe UI, sans-serif; }
  /* line 432, C:/Users/Patrick/port_site/source/css/main.css.scss */
  #contact-wrapper .content-inner .contact-item {
    margin: 1em 0;
    a: active;
      a-color: #e67339; }
    /* line 436, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #contact-wrapper .content-inner .contact-item a {
      color: #3a82a6;
      outline: none; }
    /* line 441, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #contact-wrapper .content-inner .contact-item a:hover {
      color: #47a0cc; }
    /* line 449, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #contact-wrapper .content-inner .contact-item p {
      display: inline-block;
      margin: 0px;
      vertical-align: bottom; }
    /* line 455, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #contact-wrapper .content-inner .contact-item img {
      margin: 0.25em 1em 0 0;
      padding: 0 0 0.25em;
      height: 1.5em;
      width: 1.25em;
      display: inline-block;
      vertical-align: bottom; }
  /* line 465, C:/Users/Patrick/port_site/source/css/main.css.scss */
  #contact-wrapper .content-inner #closing {
    margin: 5em 0 0; }
    /* line 468, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #contact-wrapper .content-inner #closing p {
      display: inline-block;
      margin-right: 1em; }
    /* line 473, C:/Users/Patrick/port_site/source/css/main.css.scss */
    #contact-wrapper .content-inner #closing img {
      height: 2em;
      width: 2em;
      display: inline-block; }

/* line 482, C:/Users/Patrick/port_site/source/css/main.css.scss */
footer {
  background: #182329;
  background: rgba(24, 35, 41, 0.95);
  margin: 5em 0 0;
  position: absolute;
  right: 0px;
  height: 2em;
  width: 50%; }
  /* line 488, C:/Users/Patrick/port_site/source/css/main.css.scss */
  footer p {
    margin: 0 0 0 2em;
    color: #2d3940;
    font-weight: normal;
    line-height: 2em;
    min-width: 400px; }
